<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
<a href="tel:+911800180180" class="nav-link">
    <fa-icon [icon]="faPhone"></fa-icon> +91 1800-180-180
</a>
            </li>
            <li class="nav-item">
            <a href="mailto:flight@reservation.com" class="nav-link">
                <fa-icon [icon]="faEnvelope"></fa-icon> flight@reservation.com
            </a>
            </li>
            <li class="nav-item">
            <a href="tel:+919876543210" class="nav-link">
                <fa-icon [icon]="faSms"></fa-icon> + 91 987 654 3210
            </a>
            </li>
            
            
            
        </ul>
    </div>

</nav>