<div class="container">
    <div class="row">
        <div class="offset-1 col-12 col-md-2">
            <fa-icon [icon]="faPhone"></fa-icon>
            + 91 1800-180-180
        </div>
        <div class="offset-1 col-12 col-md-3">
            <fa-icon [icon]="faEnvelope"></fa-icon>
             flight@reservation.com
        </div>
        <div class="offset-1 col-12 col-md-3">
                <fa-icon [icon]="faSms"></fa-icon>
                 +91 987 654 3210
            </div>
    </div>
</div>