<div class="container">
    <h3 class="card-header text-center">
        Payment Page
    </h3>
    <form [formGroup]="paymentForm" (ngSubmit)="payForm()" novalidate class="my-5">
        <div class="form-group row">
            <label for="name" class="col-12 col-md-2">Name On Card</label>
            <input type="text" formControlName="name" id="name" placeholder="Enter Name." class="form-control col-md-10">
        </div>
        <div class="form-group row">
            <label for="cardNo" class="col-12 col-md-2">Card No</label>
            <input type="text" formControlName="cardNo" id="cardNo" placeholder="Enter Card Number" class="form-control col-12 col-md-10">
        </div>
        <div class="form-group row">
            
            <label for="date" class="col-12 col-md-2">Expiry Date </label>


            <input type="number" formControlName="month" id="month" placeholder="Month" class="form-control col-12 col-md-4">
            <input type="number" formControlName="year" id="year" placeholder="year" class="form-control col-12 col-md-5 offset-md-1 mt-1 mt-md-0">

        </div>
        <div class="form-group row">
            <label for="cvv" class="col-md-2 col-12">CVV Number</label>
            <input type="text" formControlName="cvv" id="cvv" placeholder="Enter CVV" class="form-control col-12 col-md-10">
        </div>
        <div class="btn-group btn-block">

            <button type="submit" class="btn btn-outline-success">Pay Amount </button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>
</div>