<div class="container-fluid background">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent mb-3 p-3">
    <a class="navbar-brand ml-md-5 lead font-weight-bold" routerLink="/welcome">Flight Reservation System</a>


    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </button>


    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse  justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">

          <a class="nav-link lead" [routerLink]="'/user/login'" (click)="isMenuCollapsed = true">Login
            <fa-icon [icon]="faSignInAlt"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/user/sign-up'" class="nav-link lead">Create Account <fa-icon [icon]="faPlus"></fa-icon>
          </a>

        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row" style="margin-top:30vh;">
      <div class="col-6 display-4 text-success font-weight-bold">
        Our Company Gives
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="text_1 text-white display-4">Best Offers</span>
        <span class="text_2 text-white display-4">Quick Booking</span>
      </div>
    </div>
  </div>
</div>