

    <div class="container-fluid bg-dark text-white mt-5">
        <div class="row">
            <div class="col-12 col-md-4 text-md-right text-info">
              <p>

                  Contact Us
              </p>
               
               <p>
                  <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Plot 14, Hinjawadi, Pune
               </p>
               <p>
                   <fa-icon [icon]="faPhoneAlt"></fa-icon> +91 1800 180 180
               </p>
               <p>
                   <fa-icon [icon]="faEnvelopeOpen"></fa-icon> flight@reservation.com
               </p>

            </div>
            <div class="col-12 col-md-4 text-md-right text-info">
                
                <p>

                    All Rights Reserved <fa-icon [icon]="faCopyright"></fa-icon>
                </p>
                <p>
                    Crafted By : Venkata Seshaiah with <fa-icon [icon]="faHeart" class="text-danger ml-2"></fa-icon>
                </p>
                <p>Senior Analyst Intern <fa-icon [icon]="faAt"></fa-icon> Capgemini India</p>
                <p>
                    Hinjawadi, Pune <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                </p>
            </div>
           
            
        </div>
    </div>

