<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 p-3">
  <a class="navbar-brand ml-md-5 lead font-weight-bold" routerLink="/welcome">Flight Reservation System</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <fa-icon [icon]="faEllipsisH"></fa-icon>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse  justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/view-tickets" (click)="isMenuCollapsed = true" routerLinkActive="active">My Tickets</a>
      </li>
      <li class="nav-item ml-md-3 mr-md-5">
        <div ngbDropdown class="d-inline-block mt-2">
          <button class="custom-drop" id="dropdownBasic1" ngbDropdownToggle>Hi User</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Log Out</button>

          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>