<div class="container-fluid">
    <h2 class="heading bg-dark text-white lead">
        Ticket List
    </h2>
</div>

<div class="container">

    <ul class="nav nav-tabs">
        <li class="nav-item mx-2">
            <button class="nav-link" (click)="allTicks()" id="all" (load)="allTicks()">
                ALL
            </button>
        </li>
        <li class="nav-item mx-2">
            <button class="nav-link" (click)="bookedTicks()" id="book">
                Booked
            </button>
        </li>
        <li class="nav-item mx-2">
            <button class="nav-link" (click)="cancelTicks()" id="cancel">
                Cancelled
            </button>
        </li>
    </ul>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12" *ngFor="let ticket of this.getTicketList();">
            <app-ticket [ticket]="ticket"></app-ticket>
        </div>
        <div class="col-12" *ngIf="this.getTicketList().length == 0">
            <span class="lead text-center display-3 text-danger mt-4">
                Sorry! No Tickets in this section. <fa-icon [icon]="faAddressCard"></fa-icon>
            </span>
        </div>
    </div>
</div>