.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 5px solid greenyellow;
    font-size: larger;
    padding:5px;
}