.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 1rem;
    padding:5px;
}

.row{
    overflow-y: scroll;
    max-height: 100vh;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.nav-item{
    border-radius: 1rem;
}