<div class="container">
    <h2 class="card-header text-success">
            Ticket Booked SuccessFully <fa-icon [icon]="faCheckSquare"></fa-icon>
    </h2>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="lead">Ticket Id: {{ticket.ticket_id }}</p>
                <p class="lead">Source : {{ ticket.flight.source }}</p>
                <p class="lead">Destination : {{ ticket.flight.destination }} </p>
                <p class="lead">Status: {{ticket.status }}</p>
            </div>
            <div class="col-12 col-md-6">
                <p class="lead">Price: {{ticket.flight.price }}</p>
                <p class="lead">Boarding Date: {{ticket.flight.date | date:'fullDate'}}</p>
                <p class="lead">Boarding Time: {{ticket.flight.date | date:'shortTime'}}</p>
                <p class="lead">CheckIn Baggage : {{ticket.flight.checkinbaggage}}</p>
                <p class="lead">Cargo Baggage: {{ticket.flight.cargobaggage}}</p>
            </div>
    
        </div>
    
    </div>
    <div class="card-footer">
        <a class="btn btn-success" routerLink="/dashboard/ticket-list">
            View My Tickets
        </a>
    </div>
</div>
