<div class="container" *ngIf="flight">
    <div class="card-header bg-dark text-white font-weight-bold lead">
        <div class="row">
            <div class="col-12 col-md-3 text-center text-md-left">
                Choosen Flight
            </div>
            <div class="col-12 col-md-3 text-center text-md-left">
                Price : <fa-icon [icon]="faRupeeSign"></fa-icon> {{ flight.price }}
            </div>
            <div class="col-12 col-md-3 text-center text-md-left">
                Date : <fa-icon [icon]="faCalendar"></fa-icon> {{ flight.date | date:'mediumDate'}}
            </div>
            <div class="col-12 col-md-3 text-center text-md-left">
                Time : <fa-icon [icon]="faBusinessTime"></fa-icon> {{ flight.date | date:'shortTime'}}
            </div>
        </div>

    </div>
    <div class="card-header font-weight-bold mb-3">
        <div class="row">
            <div class="col-12 text-center col-md-6 text-md-right">
                {{ flight.flight_name }} --- {{ flight.flight_code }}
            </div>
            <div class="col-12 text-center col-md-6 text-md-left">
                {{ flight.source }} ---> {{ flight.destination }}
            </div>

        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-md-8 col-md-4 text-md-right">
            <a class="btn btn-primary btn-block my-3" routerLink="/dashboard/passenger-list">Choose From Favourites <fa-icon [icon]="faHeart" class="text-danger"></fa-icon></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3 class="card-header mb-5 text-center">

        Add Passenger

    </h3>
</div>
<div class="container-fluid">

    <form [formGroup]="passengerForm" (ngSubmit)="addPassengerForm()">
        <div class="form-group row">
            <label for="name" class="col-12 col-md-3">Name: </label>
            <div class="col-12 col-md-9">
                <input type="text" formControlName="name" id="name" class="form-control" placeholder="Enter Name" />
                <div
                    *ngIf="(passengerForm.controls.name.dirty || passengerForm.controls.name.touched || submitted) && passengerForm.controls.name.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.name.errors.required">
                        Name is Required!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.name.errors.pattern">
                        Name can only contain characters!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-12 col-md-3">Age: </label>
            <div class="col-12 col-md-9">
                <input type="text" formControlName="age" id="age" class="form-control" placeholder="Enter Age">
                <div
                    *ngIf="(passengerForm.controls.age.dirty || passengerForm.controls.age.touched || submitted) && passengerForm.controls.age.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.required">
                        Age is Required!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.pattern">
                        Age is should be a positive number!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.min">
                        Minimum Age should be 5!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.max">
                        Maximum Age should be 122!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-12 col-md-3">Gender: </label>
            <div class="col-12 col-md-9">

                <select formControlName="gender" id="gender" class="form-control">
                    <option value="" disabled>Choose Gender </option>
                    <option *ngFor="let gender of genders" value={{gender.value}}>{{gender.name}}</option>
                    
                </select>
                <div
                    *ngIf="(passengerForm.controls.gender.dirty || passengerForm.controls.gender.touched || submitted) && passengerForm.controls.gender.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.gender.errors.required">
                        Gender should be selected!
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="idType" class="col-12 col-md-3">Type Of Id: </label>
            <div class="col-12 col-md-9">

                <select formControlName="idType" id="idType" class="form-control" (change)="onIdentityChange($event)">
                    <option value="" disabled>Choose Identity Type</option>
                    <option *ngFor="let identity of identities" value={{identity.value}}>{{identity.name}}</option>
                </select>
                <div *ngIf="(passengerForm.controls.idType.dirty || passengerForm.controls.idType.touched || submitted) &&
                    passengerForm.controls.idType.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idType.errors.required">
                        Id Type Should be selected!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="idNo" class="col-12 col-md-3">Id Serial No. : </label>
            <div class="col-12 col-md-9">

                <input type="text" formControlName="idNo" id="idNo" class="form-control" placeholder="Enter Id No." />
                <div *ngIf="(passengerForm.controls.idNo.dirty || passengerForm.controls.idNo.touched || submitted) &&
                                    passengerForm.controls.idNo.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.required">
                        Id Number is Required!
                    </div>
                <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.invalidPan">
                    PAN Number is invalid! (Example PAN: ABCDE1234F)
                </div>
                <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.invalidPassport">
                    Passport Number is invalid! (Example Passport: A1234567)
                </div>
                <div class="badge badge-pill badge-danger mt-1" *ngIf="passengerForm.controls.idNo.errors.invalidDrivingLicense">
                    <p class="m-2">
                        Driving License is invalid! (Example: MH0120201234567)
                    </p>

                    <ul class="list-unstyled">
                        <li> First Two Letters are State Code</li>
                        <li> Next Two Digits Are Branch Code</li>
                        <li> Next 4 Digits Are Issue Year </li>
                        <li> Next 7 Digits Are Driver Profile</li>
                    </ul>
                </div>
                <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.invalidAadhar">
                    Aadhar Number is invalid! (Example Aadhar: 221234567890)
                </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-3 col-12 col-md-9">
                <input type="checkbox" [(ngModel)]="add" [ngModelOptions]="{standalone: true}" checked/>
                <label for="checkbox">Add this passenger to My Favourites As Well.</label>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-12 text-md-right">

                <button type="submit" class="btn btn-primary px-md-3 my-2"> Add Passenger <fa-icon [icon]="faPlusSquare" class="mx-2"></fa-icon></button>
            </div>
            <div class="col-md-6 col-12">

                <button type="reset" class="btn btn-danger px-md-3">Reset <fa-icon [icon]="faBroom" class="mx-2"></fa-icon></button>
            </div>
        </div>
    </form>


</div>