<div class="container-fluid">
    <h3 class="card-header mb-5 text-center">

        Add Passenger

    </h3>
</div>
<div class="container-fluid">

    <form [formGroup]="passengerForm" (ngSubmit)="addPassengerForm()">
        <div class="form-group row">
            <label for="name" class="col-12 col-md-3">Name: </label>
            <div class="col-12 col-md-9">
                <input type="text" formControlName="name" id="name" class="form-control" placeholder="Enter Name" />
                <div
                    *ngIf="(passengerForm.controls.name.dirty || passengerForm.controls.name.touched) && passengerForm.controls.name.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.name.errors.required">
                        Name is Required!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.name.errors.pattern">
                        Name can only contain characters!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-12 col-md-3">Age: </label>
            <div class="col-12 col-md-9">
                <input type="text" formControlName="age" id="age" class="form-control" placeholder="Enter Age">
                <div
                    *ngIf="(passengerForm.controls.age.dirty || passengerForm.controls.age.touched) && passengerForm.controls.age.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.required">
                        Age is Required!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.pattern">
                        Age is should be a positive number!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.min">
                        Minimum Age should be 5!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.max">
                        Maximum Age should be 120!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-12 col-md-3">Gender: </label>
            <div class="col-12 col-md-9">

                <select formControlName="gender" id="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <div
                    *ngIf="(passengerForm.controls.gender.dirty || passengerForm.controls.gender.touched) && passengerForm.controls.gender.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.gender.errors.required">
                        Gender should be selected!
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="idType" class="col-12 col-md-3">Type Of Id: </label>
            <div class="col-12 col-md-9">

                <select formControlName="idType" id="idType" class="form-control">
                    <option value="PAN">PAN Card</option>
                    <option value="Aadhar">Aadhar Card</option>
                    <option value="Passport">Passport</option>
                    <option value="DL">Driving License</option>
                </select>
                <div *ngIf="(passengerForm.controls.idType.dirty || passengerForm.controls.idType.touched) &&
                    passengerForm.controls.idType.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idType.errors.required">
                        Id Type Should be selected!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="idNo" class="col-12 col-md-3">Id Serial No. : </label>
            <div class="col-12 col-md-9">

                <input type="text" formControlName="idNo" id="idNo" class="form-control" placeholder="Enter Id No." />
                <div *ngIf="(passengerForm.controls.idNo.dirty || passengerForm.controls.idNo.touched) &&
                                    passengerForm.controls.idNo.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.required">
                        Id Number is Required!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.pattern">
                        Id Number can be Alpha Numeric only(Min Length = 5).
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group btn-block mt-5">

            <button type="submit" class="btn btn-outline-primary"> Add Passenger </button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
        </div>
    </form>


</div>