
<div class="container-fluid">
    <div class="modal-header font-weight-bold text-primary">
        Edit Passenger <fa-icon [icon]="faEdit"></fa-icon>
    </div>

    <form [formGroup]="passengerForm" (ngSubmit)="editPassengerForm()" class="modal-body">
        <input type="number" formControlName="passenger_id" [hidden]="true" />
        <input type="number" formControlName="isValid" [hidden]="true" />
        <div class="form-group row">
            <label for="name" class="col-12 col-md-3 font-weight-bold">Name: </label>
            <div class="col-12 col-md-9 font-weight-bold">
                {{ passengerForm.controls.name.value }}
                <input type="text" formControlName="name" id="name" class="form-control" placeholder="Enter Name" [hidden]="true" />
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-12 col-md-3 font-weight-bold">Age: </label>
            <div class="col-12 col-md-9">
                <input type="text" formControlName="age" id="age" class="form-control" placeholder="Enter Age">                
                <div
                    *ngIf="(passengerForm.controls.age.dirty || passengerForm.controls.age.touched || submitted) && passengerForm.controls.age.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.required">
                        Age is Required!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.pattern">
                        Age is should be a positive number!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.min">
                        Minimum Age should be 5!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.age.errors.max">
                        Maximum Age should be 120!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-12 col-md-3 font-weight-bold">Gender: </label>
            <div class="col-12 col-md-9 font-weight-bold">
                {{ passengerForm.controls.gender.value }}
                <select formControlName="gender" id="gender" class="form-control" [hidden]="true">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="idType" class="col-12 col-md-3 font-weight-bold">Type Of Id: </label>
            <div class="col-12 col-md-9">

                <select formControlName="idType" id="idType" class="form-control">
                    <option value="PAN">PAN Card</option>
                    <option value="Aadhar">Aadhar Card</option>
                    <option value="Passport">Passport</option>
                    <option value="DL">Driving License</option>
                </select>
                <div *ngIf="(passengerForm.controls.idType.dirty || passengerForm.controls.idType.touched || submitted) &&
                    passengerForm.controls.idType.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idType.errors.required">
                        Id Type Should be selected!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="idNo" class="col-12 col-md-3 font-weight-bold">Identity No</label>
            <div class="col-12 col-md-9">

                <input type="text" formControlName="idNo" id="idNo" class="form-control" placeholder="Enter Id No." />
                <div *ngIf="(passengerForm.controls.idNo.dirty || passengerForm.controls.idNo.touched || submitted) &&
                                    passengerForm.controls.idNo.errors">
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.required">
                        Id Number is Required!
                    </div>
                    <div class="badge badge-pill badge-danger" *ngIf="passengerForm.controls.idNo.errors.pattern">
                        Id Number can be Alpha Numeric only(Min Length = 5).
                    </div>
                </div>
            </div>
        </div>
        
            
                <button type="submit" class="btn btn-success btn-block btn-lg"> Edit Passenger <fa-icon [icon]="faEdit"></fa-icon></button>
           
            
        
    </form>
    <div class="modal-footer">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">
                Close 
                <fa-icon [icon]="faTimesCircle"></fa-icon>
            </span>
        </button>
    </div>

</div>