.container{
    padding:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    font-family: 'Sniglet', cursive;
}
/* .container:hover{
    background-color:  #28a745;
    zoom:0.999;
} */

.row{
    overflow-y: scroll;
    height: 100vh;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}