.form-control:focus{
    box-shadow: none;
}

.form-control{
    height:41px;
}

#search{
   
    vertical-align: middle;
    background-color: rgb(228, 255, 131);
    font-family: 'Sniglet', cursive;
}

input:hover{
    border-color:#28a745;
    zoom:0.9995;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}


button:hover{
    border-color:#28a745;
    zoom:0.9995;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

.ng-dirty.ng-valid:not(form){
    border:2px solid forestgreen;
}

.ng-touched.ng-invalid:not(form){
    border:2px solid rgb(255, 83, 83);
}

.ng-dirty.ng-invalid:not(form){
    border:2px solid rgb(255,83,83);
}


.badge-danger{
    letter-spacing: 1.5px;
    font-weight: 600;
    padding:3px 10px; 
}