<div class="container-fluid">
    <div class="row">
        <div class="offset-md-4 col-12 col-md-6 mt-4">
            <ngb-toast *ngIf="error && show" header="Error Occured" [autohide]="false" (hide)="close()">

                <p class="text-danger text-center font-weight-bold">
                    {{ errors.message }}
                </p>
            </ngb-toast>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-12 col-md-6">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="mt-4" novalidate>
                <h3 class="text-center mb-4 card-header">
                    Create Account
                </h3>


                <div class="form-group row">
                    <label for="name" class="text-md-right col-10 col-md-3 d-none d-md-block">Name</label>
                    <div class="offset-1 offset-md-0 col-10 col-md-7">
                        <input type="text" formControlName="name" id="name" placeholder="Enter Name."
                            class="form-control">
                        <div
                            *ngIf="(signInForm.controls.name.touched || signInForm.controls.name.dirty || submitted) && signInForm.controls.name.errors">
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.name.errors.required">
                                Name is a Required Field!
                            </div>
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.name.errors.pattern">
                                Name must only contain alphabets with single space separated!
                            </div>
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.name.errors.maxlength">
                                Maximum name length can be 50!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="text-md-right col-10 col-md-3 d-none d-md-block">Username</label>
                    <div class="offset-1 offset-md-0 col-10 col-md-7">
                        <input type="text" formControlName="username" id="username" placeholder="Enter Email Id."
                            class="form-control">
                        <div
                            *ngIf="(signInForm.controls.username.touched || signInForm.controls.username.dirty || submitted) && signInForm.controls.username.errors">
                            <div class="badge badge-danger badge-pill"
                                *ngIf="signInForm.controls.username.errors.required">
                                Username is a Required Field!
                            </div>
                            <div class="badge badge-danger badge-pill"
                                *ngIf="signInForm.controls.username.errors.email">
                                Username must be a valid E-mail!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="text-md-right col-10 col-md-3 d-none d-md-block">Password</label>
                    <div class="offset-1 offset-md-0 col-10 col-md-7">
                        <div class="input-group">

                            <input type="password" formControlName="password" id="password" placeholder="Enter Password"
                                class="form-control" name="password">
                            <button class="input-group-append btn btn-transparent add-on" type="button" (click)="opener()">
                                <fa-icon [icon]="faEye" id="pwd" class="input-group-text"></fa-icon>
                            </button>
                        </div>

                        <div
                            *ngIf="(signInForm.controls.password.touched || signInForm.controls.password.dirty || submitted) && signInForm.controls.password.errors">
                            <div class="badge badge-danger badge-pill"
                                *ngIf="signInForm.controls.password.errors.required">
                                Password is a Required Field!
                            </div>
                            <div class="badge badge-danger badge-pill"
                                *ngIf="signInForm.controls.password.errors.minlength">
                                Password should be of 8 characters!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2">
                        <ul class="list-group mb-3"
                            *ngIf="(signInForm.controls.password.touched || signInForm.controls.password.dirty || submitted) && signInForm.controls.password.errors && !signInForm.controls.password.errors.required">
                            <li class="list-group-item font-weight-lighter text-center">
                                Password should have atleast one small letter!
                                <fa-icon [icon]="faCheckCircle" class="text-success"
                                    *ngIf="!signInForm.controls.password.errors.hasSmall">
                                </fa-icon>
                                <fa-icon [icon]="faTimesCircle" class="text-danger"
                                    *ngIf="signInForm.controls.password.errors.hasSmall">
                                </fa-icon>
                            </li>
                            <li class="list-group-item font-weight-lighter text-center">
                                Password should have atleast one Capital letter!
                                <fa-icon [icon]="faCheckCircle" class="text-success"
                                    *ngIf="!signInForm.controls.password.errors.hasCap">
                                </fa-icon>
                                <fa-icon [icon]="faTimesCircle" class="text-danger"
                                    *ngIf="signInForm.controls.password.errors.hasCap">
                                </fa-icon>
                            </li>
                            <li class="list-group-item font-weight-lighter text-center">
                                Password should have atleast one Number!
                                <fa-icon [icon]="faCheckCircle" class="text-success"
                                    *ngIf="!signInForm.controls.password.errors.hasNum">
                                </fa-icon>
                                <fa-icon [icon]="faTimesCircle" class="text-danger"
                                    *ngIf="signInForm.controls.password.errors.hasNum">
                                </fa-icon>
                            </li>
                            <li class="list-group-item font-weight-lighter text-center">
                                Password must have atleast one Special letter!
                                <fa-icon [icon]="faCheckCircle" class="text-success"
                                    *ngIf="!signInForm.controls.password.errors.hasSym">
                                </fa-icon>
                                <fa-icon [icon]="faTimesCircle" class="text-danger"
                                    *ngIf="signInForm.controls.password.errors.hasSym">
                                </fa-icon>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPassword" class="text-md-right col-10 col-md-3 d-none d-md-block">Confirm
                        Password </label>
                    <div class="offset-1 offset-md-0 col-10 col-md-7">


                        <input type="password" formControlName="confirmPassword" id="confirmPassword"
                            placeholder="Enter Password Again" class="form-control" />


                        <div
                            *ngIf="(signInForm.controls.confirmPassword.touched || signInForm.controls.confirmPassword.dirty || submitted) && signInForm.controls.confirmPassword.errors">
                            <div class="badge badge-danger badge-pill"
                                *ngIf="signInForm.controls.confirmPassword.errors.required">
                                Confirm Password is a Required Field!
                            </div>
                            <div class="badge badge-danger badge-pill"
                                *ngIf="signInForm.controls.confirmPassword.errors.notMatch">
                                Both the passwords must be equal!
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="age" class="text-md-right col-10 col-md-3 d-none d-md-block">Age</label>
                    <div class="offset-1 offset-md-0 col-10 col-md-7">
                        <input type="text" formControlName="age" id="age" placeholder="Enter Age." class="form-control">
                        <div
                            *ngIf="(signInForm.controls.age.touched || signInForm.controls.age.dirty || submitted) && signInForm.controls.age.errors">
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.age.errors.required">
                                Age is a Required Field!
                            </div>
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.age.errors.pattern">
                                Age can only contain digits.
                            </div>
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.age.errors.min">
                                Minimum age should be 5!
                            </div>
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.age.errors.max">
                                Maximum age can be 122!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gender" class="text-md-right col-10 col-md-3 d-none d-md-block">Gender</label>
                    <div class="offset-1 offset-md-0 col-10 col-md-7">
                        <select formControlName="gender" id="gender" class="form-control"> 
                            <option value="" disabled>Choose Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                        <div
                            *ngIf="(signInForm.controls.gender.touched || signInForm.controls.gender.dirty || submitted) && signInForm.controls.gender.errors">
                            <div class="badge badge-danger badge-pill" *ngIf="signInForm.controls.gender.errors.required">
                                Gender is a Required Field!
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">

                    <button type="submit" class="btn btn-info offset-1 col-10 offset-md-2 col-md-8 my-3">
                        Create Account
                    </button>
                </div>
                <div class="row my-3">
                    <p class="text-muted offset-1 col-10 offset-md-0 col-md-6 text-md-right">
                        Already Have an Account?
                    </p>
                    <a [routerLink]="'/user/login'" class="offset-1 col-10 offset-md-0 col-md-6 text-md-left">Login
                        Here</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="loading" *ngIf="loading">
    <div class="d-flex justify-content-center mar">
        <div class="spinner-grow" role="status">
        </div>
        <span class="lead font-weight-bold ml-2 text-primary">Loading...</span>
    </div>
</div>