<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="side-card d-none d-md-block">
                <img src="assets/images/profile.png" alt="" srcset="" class="img-fluid">
                <div class="p-1">

                    <div class="font-weight-bold fit-content pl-1">
                        Name
                    </div>
                    <div class="text-muted fit-content pl-1">
                        Username@mail.com
                    </div>
                    <div class="fit-content pl-1">Age</div>
                </div>
            </div>
        </div>

    </div>
</div>