

.box{
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-body
{
    border-left:2px solid rgb(107, 107, 107);
    border-right: 2px solid rgb(107, 107, 107);
}

.card-header{
    border:2px solid rgb(107, 107, 107);
    font-weight: bolder;
}

.card-footer{
    border:2px solid rgb(107, 107, 107);
}

